* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1rem;
    font-family: 'League Spartan', sans-serif;
    color: hsl(300, 43%, 22%);
    line-height: 1.6;
}

img {
    border-radius: 100%;
    max-height: 40px;
    object-fit: cover;
}

/* TYPOGRAPHY */

.title {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 2em;
    line-height: .8;
}

.main-body {
    color: hsl(303, 10%, 53%);
    font-weight: 500;
    text-align: center;
}

.review-body {
    font-weight: 700;
}

.testimonial {
    color: hsl(0, 0%, 100%);
    background: hsl(300, 43%, 22%);
}

.testimonial-title {
    margin: 0;
    font-size: 1rem;
}

.testimonial-subtitle {
    margin: 0;
    color: hsl(333, 80%, 67%);
}

.testimonial-body {
    margin-bottom: 0;
    color: hsl(300, 24%, 96%);
    font-weight: 500;
}

/* LAYOUT */

.container {
    width: 400px;
    margin: 0 auto;
}

main {
    width: 85%;
    margin: 0 auto;
}

.review-container {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 3em;
}

.review {
    background-color: hsl(300, 24%, 96%);
    padding: .7em;
    margin: 1em 0;
    border-radius: 5px;
}

.review-body {
    margin-top: .4em;
    margin-bottom: 0;
}

.testimonial-section {
    width: 85%;
    margin: 0 auto;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.testimonial {
    margin: 1em 0;
    border-radius: 5px;
    padding: 2.5em;
}

.testimonial-header {
    display: grid;
    grid-template: repeat(2, 20px) / 70px 100px;
    grid-column-gap: .3em;
}

.testimonial-img {
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;
}

.testimonial-title,
.testimonial-subtitle {
    grid-column: 2 / span 2;
    justify-self: start;
    align-self: start;
}

.testimonial-title {
    grid-row: 1 / span 1;
}

.testimonial-subtitle {
    grid-row: 2 / span 1;
}


@media (min-width: 900px) {
    .container {
        width: 90%;
    }

    main {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .main-header {
        width: 40%;
        text-align: left;
    }

    .title {
        margin-left: 0;
        margin-right: 0;
    }

    .title,
    .main-body {
        text-align: left;
    }

    .review-container {
        width: 50%;
        font-size: .8rem;
    }

    .review {
        display: flex;
        margin-top: .5em;
        margin-bottom: 0;
        justify-content: space-around;
        align-items: baseline;
    }

    .review-body {
        margin-top: 0;
        margin-left: 1em;
    }

    /* Grid on the testimonial section */

    .testimonial-section {
        display: grid;
        grid-template-areas:
            "testimonial-1 .............  ............."
            "testimonial-1 testimonial-2  ............."
            "testimonial-1 testimonial-2  testimonial-3"
            "testimonial-1 testimonial-2  testimonial-3"
            "............. testimonial-2  testimonial-3"
            "............. .............  testimonial-3";

        grid-template-rows: repeat(2, 25px) auto auto repeat(2, 25px);
        grid-column-gap: 1em;
    }

    .testimonial-1 {
        grid-area: testimonial-1;
    }

    .testimonial-2 {
        grid-area: testimonial-2;
    }

    .testimonial-3 {
        grid-area: testimonial-3;
    }
}